<!DOCTYPE html>
<html>
    
<body>
        <section class="hero-is-medium has-background-light">
            <div class="hero-body">
                <h1 class="title">New Music page</h1>
            </div>
        </section>
            <form action="/songs" method="POST">
                <div class="field">
                    <label class="label">Song Title</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="new song"
                            name="title"
                        />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label">Singer</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="singer" name="name" />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label">Song Image</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="http://"
                            name="image"
                        />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Date of release</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="0000"
                            name="date"
                        />
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Create Song</button>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>